<%- include ("./boiler.ejs") %>
<%- include ("./header.ejs") %>
<link rel="stylesheet" href="./files/bag.css">
<div class="bag">
    <div class="left-bag">
        <h2>Bag</h2>
        <% let sum = 0%>
        <% for (let item of bag ){ %>
            <div class="bag-shoe">
                <div class="bag-shoe-left">
                    <img src="<%=item.product.image%>" alt="img" id="bag-img">
                    <div class="bag-shoe-desc">
                        <h3 id="bag-name"><%=item.product.name%></h3>
                        <p id="bag-cat"><%=item.product.category.charAt(0).toUpperCase()+item.product.category.slice(1)%>'s Shoes</p>
                        <p>Size : <%=item.size%> </p>
                        <p>Quantity : <%=item.quantity%></p>
                        <div class="shoe-icons">
                            <form action="<%=link%>/favourites" method="post">
                                <input type="hidden" name="idOfFavShoe" value="<%=item.product.id%>">
                                <button style="border: none; background: none; padding: 0; cursor: pointer;">
                                    <i class="fa-regular fa-heart"></i>
                                </button></form>
                            <form action="<%=link%>/bag/<%=item.product.id%>?_method=DELETE" method="post">
                                <button style="border: none; background: none; padding: 0; cursor: pointer;">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>                            
                        </div>
                    </div>
                </div>
                <div class="bag-shoe-right">
                    <% let q = item.quantity %>
                    <p>MRP : &#8377; <%=item.product.price%></p>
                    <% let a = item.product.price;
                    a = a.replace (/,/g,'');
                    let b = Number (a) ;
                    let c = b*q;
                    sum = sum + c  %>
                </div>
            </div>
            <%}%>
            <form action="<%=link%>/shoes" id="add-form">
                <button class="bt5">+</button>
            </form>
    </div>
    <div class="right-bag">
        <h1>Summary</h1>
        <div class="right-bag-content">
        <div class="right-bag-left">
            <p>Subtotal</p>
            <p>Delivery & <br> Handling Charges</p>
            <hr>
            <p>Total :  </p>
            <hr>
        </div>
        <div class="right-bar-right">
            <p><%=sum%></p>
            <p>1000 <br><br>
            </p>
            <hr>
            <p><%=sum+1000%></p>
            <hr>
        </div>
        </div>
        <button id="bt4">Checkout</button>
    </div>
</div>

<dialog id="contain">
    <form id="contain-form">
    <div class="checkout" id="checkout">
        <button id="close"><i class="fa-solid fa-xmark"></i></button>
        <input type="text" id="name" placeholder="Name" required>
        <input type="number" id="contactNo" placeholder="Contact number" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="text" id="add1" placeholder="House/Apartment no" required>
        <input type="text" id="add2" placeholder="Street name" required>
        <input type="text" id="add3" placeholder="Landmark(optional)">
        <input type="text" id="add4" placeholder="City" required>
        <input type="number" id="pin" placeholder="Enter your pincode" required>
        <input type="text" id="add5" placeholder="District" required>
        <input type="text" id="add6" placeholder="State/Country" required>
        <button id="bt7" type="submit">Place Order</button>
    </div>
</form>
</dialog>
<%- include ("./footer.ejs") %>


<script src="./files/bag.js"></script>

