<div class="loader" id="loader"></div>
<div id="main-page">
    <%- include ("./boiler.ejs") %>
    <%- include ("./header.ejs") %>
    <link rel="stylesheet" href="./files/loader.css">
    <link rel="stylesheet" href="./files/favourites.css">
    <script src="./files/loader.js"></script>
    <div class="favs">
        <h1>Favourite</h1>
        <div class="fav-content">
            <%for (let i of fav){%>
                <%if(i){%>
                <form action="<%=link%>/shoes/shoe/<%=i.id%>">
                    <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                <div class="fav-shoe-box">
                    <img src="<%=i.image%>" alt="" id="fav-img">
                    <div class="fav-shoe-box-desc">
                        <p><%=i.name%></p>
                        <p><%=i.price%></p></div>
                </div>
                </button></form>
                <%}%>
                <%}%>
        </div>
    </div>
    <%- include ("./footer.ejs") %>
</div>

