<div class="loader" id="loader"></div>
<div id="main-page">
    <%- include ("./boiler.ejs") %>
<%- include ("./header.ejs") %>

<link rel="stylesheet" href="/files/home.css">
<link rel="stylesheet" href="./files/loader.css">
<script src="./files/loader.js"></script>

<div class="home1">
    <h1 id="headings">WIN ON AIR</h1>
    <p>Meet the next generation of Nike Air. Engineered to exact specifications of champion athletes.</p>
    <form action="<%=link%>/shoes/air">
        <button class="bt1" type="submit">Shop Air</button>
    </form>
</div>
<div class="home2">
    <% for ( let i of air){%>
        <form action="<%=link%>/shoes/shoe/<%=i.id%>">
            <button type="submit" style="background: none; border: none; padding: 0;">
                <div class="shoe">
                    <img src="<%=i.image%>" alt="img" id="shoesimage">
                    <h2><%=i.name%></h2>
                </div>
            </button>
        </form>
    <%}%>
</div>
<h3 id="before">The Latest & Greatest</h3>
<div class="home3">
    <% for ( let i of latest){%>
        <form action="<%=link%>/shoes/shoe/<%=i.id%>">
            <button type="submit" style="background: none; border: none; padding: 0;">
        <div class="shoe">
            <img src="<%=i.image%>" alt="img" id="shoesimage">
            <h2><%=i.name%></h2>
        </div>
        </button>
        </form>
        <%}%>
</div>
<div class="home4">
    <h3>Don't Miss</h3>
    <img src="/assets/jordan.png" alt="jordan" id="jordan-promo">
</div>
<div class="home5">
    <h3>Jordan Women</h3>
    <h1 id="headings">WOMEN'S SPORT</h1>
    <p>Take the Court in sporty pieces designed to keep up the pace. Lightweight mesh and 
        a light pop of blue on top pairs perfectly with classic hoop shorts for a look that 
        lets you get after it in a style.
    </p>
    <button class="bt1">Shop</button>
</div>
<h3 id="before">Classic Spotlight</h3>
<div class="home6">
    <% for ( let i of classic){%>
        <form action="<%=link%>/shoes/shoe/<%=i.id%>">
            <button type="submit" style="background: none; border: none; padding: 0;">
        <div class="shoe">
            <img src="<%=i.image%>" alt="img" id="shoesimage">
            <h2><%=i.name%></h2>
        </div>
        </button></form>
        <%}%>
</div>


<%- include ("./footer.ejs") %>
</div>