<%- include("./boiler.ejs") %>
<%- include("./header.ejs") %>

<div class="main-content">
    <%- include("./sidebar.ejs") %>
    <div class="content">
        <% for(let product of Object.values(shoeData)) { %>
            <form action="http://localhost:8080/shoes/shoe/<%=product.id%>">
                <button type="submit" style="background: none; border: none; padding: 0;">
              <div class="shoe-each">
                <img src="<%= product.image %>" alt="<%= product.name %>">
                <h4><%= product.name %></h4>
                <p><%= product.category.charAt(0).toUpperCase() + product.category.slice(1).toLowerCase();%>'s Shoes</p>
                <h3>MRP : &#8377;<%= product.price %></h3>
              </div>
              </button></form>
            <% } %>
    </div>
</div>
<%- include("./footer.ejs") %>

<style>
.main-content{
  display: flex;
}
.sidebar {
    min-width: 18vmax;
    border-right: 2px solid lightgrey;
    height: 5vmax;
}

.sidebar h2 {
    margin-left: 10%;
    font-size: 2.5em;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.side-nav a {
    text-decoration: none;
    margin-left: 30%;
    font-size: 22px;
    font-weight: 600;
}
  
  .side-main {
    display: flex;
    flex-direction: row;
    position: sticky;
    left: 0;
}

.content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100vw;
}
.content::-webkit-scrollbar{
    display: none;
}
.shoe-each{
    margin: 15px;
    cursor: pointer;
}
.shoe-each p{
    margin: -5px 0px;
    color: gray;
}
.shoe-each img{
    height: 23vmax;
    width: 23vmax;
    border-radius: 20px;
}

</style>
