<%- include("./boiler.ejs") %>
<%- include ("./header.ejs") %>
<div class="shoe-content">
    <div class="left-section">
        <img src="<%=shoe.image%>" alt="img" id="main-shoe">
    </div>
    <div class="right-section">
        <p id="shoe-name"><%=shoe.name%></p>
        <p id="shoe-cat"><%=shoe.category.toUpperCase()%>'S SHOES</p>
        <p id="shoe-price">MRP : <span>&#8377;<%=shoe.price%> </span><br/> inclusive of taxes</p>\
        <p>Select size</p>
        <div class="shoe-size">
            <% for (let i = 6; i<=12; i=i+0.5){%>
                <div class="box-of-size">
                    <p>UK <%=i%></p>
                </div>
            <%}%>
        </div>
        <div class="quantity">
            <span>Quantity</span>
            <button id="decQuant">-</button>
            <span id="quant-var"><%=q%></span>
            <button id="incQuant">+</button>
        </div>
        <form action="http://localhost:8080/bag" method="post">
            <input type="hidden" name="idOfShoe" value="<%=shoe.id%>">
            <input type="hidden" id="quantInput" name="quantity" value="<%=q%>">
            <button id="bt2">Add to bag</button>
        </form>
        <form action="http://localhost:8080/favourites" method="post">
            <input type="hidden" name="idOfFavShoe" value="<%=shoe.id%>">
            <button id="bt3">Favourite <i class="fa-regular fa-heart"></i></button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let quantity = <%=q%>;
        const quantityDisplay = document.getElementById("quant-var");
        const quantityInput = document.getElementById("quantInput");

        document.getElementById("incQuant").addEventListener("click", () => {
            quantity++;
            updateQuantity();
        });

        document.getElementById("decQuant").addEventListener("click", () => {
            if (quantity > 1) {
                quantity--;
                updateQuantity();
            }
        });

        function updateQuantity() {
            quantityDisplay.textContent = quantity;
            quantityInput.value = quantity;
        }
    });
</script>

<style>
    .shoe-content{
    display: flex;
    justify-content: space-around;
    margin: 8vmax 0vmax;
}
button{
    cursor: pointer;
}
#main-shoe{
    height: 50vmax;
    width: 40vmax;
    border-radius: 10px;
}
.right-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shoe-name{
    font-size: 2em;
    margin: 0;
}
#shoe-cat{
    color: gray;
}
#shoe-price{
    font-size: 1.2em;
}
#shoe-price span{
    font-size: 1.5em;
    font-weight: 600;
    margin: 15px;
}
.shoe-size{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}
.box-of-size{
    height: 4vmax;
    width: 7.5vmax;
    margin: 20px 10px;
    border: 2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box-of-size:hover{
    border: 2px solid black;
    box-shadow: 2px 2px 2px orange;
}
.quantity{
    margin: 2vmax 0vmax;
}
.quantity button{
    background-color: white;
    color: green;
    border-radius: 5px;
}
.quantity span:first-of-type{
    margin-right: 1.5vmax;
}
#bt2{
    width:20vmax;
    height: 3vmax;
    border-radius: 50px;
    cursor: pointer;
    background-color: black;
    color: white;
    margin-top: 20px;
}
#bt3{
    width:20vmax;
    height: 3vmax;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    margin-top: 20px;
}
@media screen and (max-width: 650px){
    .box-of-size{
        height: auto;
    }
    #shoe-name{
        margin-left: 4vmax;
    }
    #bt2, #bt3{
        height: 4.5vmax;
    }
}
@media screen and (max-width: 500px){
    .shoe-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right-section{
        width: 90%;
        margin-top: 2vmax;
    }
    .shoe-size{
        margin-left: 20px;
    }
    .box-of-size{
        height: 8vmax;
        width: 10vmax;
    }
    .box-of-size p{
        transform: scale(0.8);
    }
}
</style>